body {
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    background: #1e192d;
    font-family: Inter, Roboto, sans-serif;
    overflow-x: hidden;
}

input, button {
    background: none;
    outline: none;
    border: none;
    font-family: Inter, Roboto, sans-serif;
    font-size: 16px;
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// input[type=number] {
//     -moz-appearance: textfield;
// }